/* Embeded font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Global style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather", serif;
}

/* Start header section */
.banner{
    width: 1440;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-bg{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content{
    width: 632px;
    height: 246px;
    text-align: center;
}
.banner-content > p{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
}
.banner-content > h1{
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
}

/* End Header section  */

/* start offer section  */
.offer-section{
    width: 1440px;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer-content{
    width: 802.9px;
    height: 806px;
    text-align: center;

}
.offer-content > h2{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    margin-bottom: 48px;
}
.offer-content > p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin-bottom: 16px;
}
.offer-content > h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 48px;
}
.offer-content > img{
    width: 802.9px;
    height: 500px;
}
/* end offer section  */

/* start welcome section */
.welcome{
    width: 1440px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-banner{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.welcome-content{
    width: 697px;
    height: 450px;
}
.welcome-content > h2{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}
.welcome-content > small {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
}
.welcome-content > p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0%;
    margin-top: 48px;
    text-transform: uppercase;
}
.welcome-content > p > a{
    text-decoration: none;
    color: white;
}
/* end welcome section */

